
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;!important;
    background: #191923;
    color: #A3C9FF;
}
#container{
    overflow: hidden;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#container>div{
    width: 100px;!important;
    height: 100px;!important;
    display: inherit;
}
#main{
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#main img{
    width: 100px;
    height: 100px;
}
#about{
    width: 50%;
    opacity: 1 !important;
    scale: 1!important;
    text-align: center;
}
#projects{
    width: 20%;!important;
    height: 20%;!important;
    display: flex;!important;
    justify-content: center;!important
    align-items: center;!important
}
#projects div{
    width: 20%;!important;
    height: 20%;!important;
}
#footer{
    display: flex;
    position: relative;
    justify-content: space-around;
    padding: 1%;
}
#footer div{
    width: 15%;
    height: 10%;
    padding: 2%;
    text-align: center;
}