html,body{
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    background-size: cover;
    background: #191923;
    color: #A3C9FF;
    box-sizing: border-box;
    flex-wrap: wrap;
}

#navbar{
    z-index: 20;
    display: flex;
    justify-content: right;
    position: fixed;
    left: 0;
    top: 0;
    width: 20%;
    height: 100%;
    background: rgba(0,0,0,0.1);

}
.navbar-elements{
    display: flex;
    justify-content: center;
    margin: 0 60px 0 0;
}
#navbar li{
    list-style-type: none;
    display: inline-block;
    cursor: pointer;
    padding: 20px;
}
h2{
    font-family: "Lucida Console", serif;
}
.main-photo img{
    width: 150px;
    height: 150px;
    border-radius: 70%;
}

#main{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    transition: left 0.1s;
    z-index:10;
}
.main-text{
    width: 40%;
}
.main-scroll-text{
    display: none;
    position: absolute;
}
.main-scroll{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
}
#container{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 100px;
    height: 1000vh;
}
#container>div{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    transition: left 0.1s;
}
#about{
    font-family: 'Roboto', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    text-align: center;
    opacity: 0;

}
#projects{
    display: none ;
    justify-content: center;
    align-items: center;
    background-color: white;
    background-repeat: no-repeat;
    background-size: 10000px;
    width: 0;
    height: 0;
}
#projects>#projects-main-element img{

    z-index: -1;
    width: 100%;
    height: 100%;
}
#projects-main-element{
    position: fixed;
    scale:2;
}
#project-elements{
    display: none;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 65%;
    height: 55%;

}
.project-elements-element{
    z-index: 2;
    width: 20%;
    height: 30%;
}
.project-elements-element img{
    width: 100%;
    height: 100%;
}
#project-elements-text{
    color: black;
    position: absolute;
    top: 0;
}
#powerOff{
    position: absolute;
}

#powerOn{
    display: none;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
#personal-info{
    opacity: 0;
    text-align: center;
}
#footer{
    display: flex;
    position: relative;
    justify-content: space-around;
   padding: 1%;
}
#footer div{
    width: 15%;
    height: 10%;
    padding: 2%;
    text-align: center;
}
#alternativeView{
    cursor: pointer;
    border-radius: 20%;
    background: #A3C9FF;
    color: #191923 ;
    border: 2px solid black;
}
.alternativeView{
    position: static;
    width: 50%;
    display: block;
    scale: 1;
    opacity: 1;
    top: auto;
}


